In [75]:
import pandas as pd  # do some data
import string
import timeit  # just import for timer
import numpy as np
import multiprocessing as mp
import functools

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer  # tf-idf built in function
from scipy import sparse
from string import ascii_lowercase

import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
import itertools
import cProfile

In [76]:
COCA = pd.DataFrame(
    [
        ['defeat', 21947],
        ['decet', 6],
        ['defect', 3973],
        ['deft', 1240],
        ['defer', 2239],
        ['Deeft', 0]
    ],
    columns=['word', 'frequency']
)
COCA_pop = 1e9
COCA['P(w)'] = COCA['frequency']/COCA_pop
COCA['rank'] = COCA['frequency'].rank(ascending=False).astype(int)

In [77]:
COCA.head(6)

     word  frequency          P(w)  rank
0  defeat      21947  2.194700e-05     1
1   decet          6  6.000000e-09     5
2  defect       3973  3.973000e-06     2
3    deft       1240  1.240000e-06     4
4   defer       2239  2.239000e-06     3
5   Deeft          0  0.000000e+00     6

In [78]:
WIKI = pd.DataFrame(
    [
        ['defeat', 121408],
        ['decet', 81],
        ['defect', 7793],
        ['deft', 814],
        ['defer', 1416],
        ['Deeft', 0]
    ],
    columns=['word', 'frequency']
)
WIKI_pop = 1.9e9
WIKI['P(w)'] = WIKI['frequency']/WIKI_pop
WIKI['rank'] = WIKI['frequency'].rank(ascending=False).astype(int)

In [79]:
WIKI.head(6)

     word  frequency          P(w)  rank
0  defeat     121408  6.389895e-05     1
1   decet         81  4.263158e-08     5
2  defect       7793  4.101579e-06     2
3    deft        814  4.284211e-07     4
4   defer       1416  7.452632e-07     3
5   Deeft          0  0.000000e+00     6

In [80]:
IULA = pd.DataFrame(
    [
        ['defeat', 11],
        ['decet', 0],
        ['defect', 180],
        ['deft', 0],
        ['defer', 11],
        ['Deeft', 0]
    ],
    columns=['word', 'frequency']
)
IULA_pop = 2.1e6
IULA['P(w)'] = IULA['frequency']/IULA_pop
IULA['rank'] = IULA['frequency'].rank(ascending=False).astype(int)

In [81]:
IULA.head(6)

     word  frequency      P(w)  rank
0  defeat         11  0.000005     2
1   decet          0  0.000000     5
2  defect        180  0.000086     1
3    deft          0  0.000000     5
4   defer         11  0.000005     2
5   Deeft          0  0.000000     5

In [82]:
norvig = pd.read_csv('http://norvig.com/ngrams/count_1edit.txt',
                     sep='\t', encoding="ISO-8859-1", header=None)
norvig.columns = ['term', 'edit']
norvig = norvig.set_index('term')
norvig.head()

      edit
term
e|i    917
a|e    856
i|e    771
e|a    749
a|i    559

In [83]:
norvig_orig = pd.read_csv('http://norvig.com/ngrams/count_big.txt',
                          sep='\t', encoding="ISO-8859-1", header=None)
norvig_orig = norvig_orig.dropna()
norvig_orig.columns = ['term', 'freq']
norvig_orig.head()

    term   freq
0      a  21160
1    aah      1
2  aaron      5
3     ab      2
4  aback      3

In [84]:
def get_count(c, norvig_orig):
    return norvig_orig.apply(lambda x: x.term.count(c) * x.freq, axis=1).sum()

In [85]:
character_set = list(map(''.join, itertools.product(ascii_lowercase, repeat=1))) + list(map(''.join, itertools.product(ascii_lowercase, repeat=2)))

with mp.Pool(processes=8) as pool:
    freq_list = pool.map(functools.partial(get_count, norvig_orig=norvig_orig), character_set)

freq_df = pd.DataFrame([character_set, freq_list], index=['char', 'freq']).T
freq_df = freq_df.set_index('char')

In [89]:
freq_list

[407349,
 73161,
 144964,
 215698,
 632999,
 120870,
 96907,
 294681,
 365618,
 6436,
 32798,
 198622,
 127061,
 368989,
 386705,
 98910,
 4571,
 309545,
 334891,
 460734,
 138716,
 52378,
 100831,
 9797,
 90481,
 3796,
 14,
 7890,
 16151,
 19210,
 204,
 3675,
 7449,
 455,
 15757,
 335,
 4440,
 33275,
 10584,
 84280,
 126,
 8238,
 12,
 40541,
 38393,
 57905,
 4313,
 8422,
 3634,
 563,
 10532,
 517,
 5696,
 419,
 158,
 125,
 22672,
 1,
 0,
 3,
 2598,
 482,
 1,
 8626,
 151,
 65,
 8569,
 2,
 0,
 4825,
 1640,
 652,
 8643,
 122,
 23,
 0,
 6908,
 0,
 17870,
 0,
 3068,
 56,
 25416,
 12,
 0,
 21443,
 7695,
 0,
 5103,
 5453,
 17,
 9,
 29224,
 0,
 234,
 4931,
 402,
 13239,
 5785,
 0,
 7,
 0,
 1415,
 25,
 4876,
 23,
 22,
 2112,
 28545,
 155,
 884,
 165,
 17420,
 375,
 86,
 2096,
 797,
 458,
 9034,
 13,
 49,
 5447,
 4829,
 68,
 3752,
 770,
 116,
 0,
 2006,
 2,
 27583,
 1005,
 14841,
 54733,
 14647,
 6342,
 4266,
 1002,
 6964,
 155,
 522,
 19507,
 13975,
 56167,
 3061,
 7260,
 1151,
 84892,
 48218,
 14303,
 1424,
 9926,
 5384,
 7143,
 6551,
 259,
 7355,
 28,
 0,
 1,
 10081,
 6271,
 2,
 4,
 10099,
 1,
 7,
 2751,
 3,
 41,
 17439,
 0,
 0,
 11090,
 216,
 4242,
 3512,
 0,
 32,
 0,
 243,
 0,
 6403,
 3,
 0,
 63,
 13168,
 9,
 901,
 10165,
 5359,
 0,
 6,
 3252,
 195,
 2207,
 5507,
 0,
 0,
 7253,
 1519,
 511,
 2842,
 0,
 25,
 0,
 250,
 3,
 43630,
 150,
 73,
 140,
 141061,
 97,
 1,
 16,
 39712,
 0,
 96,
 369,
 541,
 344,
 22544,
 8,
 2,
 2999,
 517,
 6732,
 2864,
 9,
 152,
 0,
 1902,
 0,
 8863,
 3246,
 22552,
 14519,
 15355,
 7334,
 9187,
 26,
 397,
 2,
 1924,
 16565,
 15157,
 98253,
 25422,
 2617,
 126,
 12058,
 46790,
 44616,
 533,
 7967,
 5,
 755,
 1,
 1465,
 629,
 0,
 0,
 0,
 1617,
 0,
 0,
 0,
 17,
 0,
 0,
 0,
 0,
 0,
 1857,
 0,
 0,
 2,
 0,
 0,
 2221,
 0,
 0,
 0,
 0,
 0,
 837,
 8,
 47,
 4,
 9569,
 45,
 21,
 829,
 5383,
 0,
 1,
 638,
 60,
 3044,
 677,
 2,
 1,
 117,
 1554,
 20,
 750,
 12,
 121,
 0,
 287,
 0,
 20211,
 235,
 600,
 11186,
 32885,
 3069,
 188,
 53,
 22256,
 0,
 1342,
 24811,
 1219,
 275,
 16880,
 697,
 1,
 664,
 3903,
 4066,
 4277,
 1191,
 802,
 0,
 19002,
 26,
 21569,
 3122,
 161,
 8,
 31862,
 188,
 1,
 5,
 10874,
 1,
 7,
 239,
 3263,
 416,
 13444,
 8398,
 0,
 495,
 3588,
 69,
 3882,
 2,
 12,
 0,
 4055,
 0,
 11670,
 401,
 16358,
 63312,
 29545,
 2889,
 43590,
 358,
 13291,
 678,
 2629,
 3430,
 864,
 3372,
 20294,
 143,
 366,
 249,
 16100,
 36088,
 2646,
 1702,
 224,
 199,
 3776,
 44,
 2325,
 2216,
 5159,
 6395,
 1183,
 43557,
 1923,
 850,
 4356,
 369,
 4547,
 15177,
 22777,
 65405,
 11308,
 7291,
 38,
 43941,
 13056,
 16830,
 42068,
 11050,
 16582,
 480,
 1527,
 159,
 11629,
 33,
 134,
 8,
 17385,
 132,
 27,
 2565,
 6923,
 0,
 28,
 9064,
 160,
 52,
 11871,
 6028,
 0,
 16501,
 2046,
 3639,
 4021,
 0,
 54,
 0,
 663,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4562,
 0,
 0,
 0,
 0,
 0,
 22998,
 727,
 4011,
 7259,
 73190,
 1407,
 3965,
 689,
 28440,
 4,
 2364,
 2799,
 7147,
 6023,
 29721,
 1326,
 25,
 7971,
 15825,
 11871,
 5649,
 2238,
 532,
 2,
 11664,
 85,
 12817,
 513,
 5346,
 116,
 37268,
 600,
 89,
 17464,
 20007,
 5,
 3395,
 2863,
 3238,
 585,
 16554,
 6796,
 280,
 56,
 19347,
 38561,
 12427,
 102,
 1385,
 0,
 1762,
 4,
 18928,
 46,
 1210,
 15,
 43572,
 314,
 72,
 149331,
 42359,
 0,
 11,
 5403,
 1019,
 308,
 43661,
 96,
 0,
 14133,
 10221,
 7935,
 9134,
 18,
 2482,
 7,
 6733,
 144,
 3449,
 3302,
 5389,
 2456,
 5198,
 908,
 5677,
 47,
 3303,
 1,
 269,
 14400,
 4564,
 17136,
 301,
 6229,
 8,
 20534,
 19258,
 19414,
 1,
 100,
 2,
 82,
 77,
 705,
 4414,
 0,
 0,
 0,
 31081,
 0,
 3,
 0,
 9133,
 0,
 8,
 215,
 0,
 532,
 3202,
 0,
 0,
 89,
 274,
 2,
 87,
 2,
 1,
 0,
 261,
 0,
 20215,
 27,
 26,
 464,
 15045,
 87,
 0,
 19697,
 17124,
 0,
 78,
 405,
 9,
 3985,
 7993,
 8,
 0,
 1022,
 1282,
 322,
 41,
 0,
 25,
 0,
 90,
 0,
 1007,
 0,
 1287,
 0,
 833,
 14,
 0,
 122,
 1235,
 0,
 0,
 4,
 0,
 0,
 105,
 2203,
 7,
 0,
 13,
 1511,
 115,
 117,
 1,
 88,
 44,
 0,
 1649,
 169,
 280,
 155,
 4505,
 115,
 51,
 18,
 1798,
 0,
 38,
 682,
 969,
 325,
 9078,
 719,
 0,
 222,
 3293,
 1097,
 62,
 5,
 125,
 28,
 0,
 27,
 311,
 0,
 0,
 27,
 1588,
 0,
 0,
 154,
 380,
 0,
 4,
 73,
 63,
 17,
 703,
 0,
 0,
 0,
 2,
 0,
 169,
 1,
 1,
 0,
 32,
 83]

In [86]:
COCA['P(x|w)'] = [
    (norvig.loc['e|ea'].values / freq_df.loc['ea'].values)[0],
    (norvig.loc['f|c'].values / freq_df.loc['c'].values)[0],
    (norvig.loc['e|ec'].values / freq_df.loc['ec'].values)[0],
    (norvig.loc['e| '].values / freq_df.loc['e'].values)[0],
    (norvig.loc['t|r'].values / freq_df.loc['r'].values)[0],
    (norvig.loc['fe|ef'].values / freq_df.loc['ef'].values)[0]
]

In [87]:
COCA['109 P(x|w)P(w)'] = 1e9 * COCA['P(w)'] * COCA['P(x|w)']

In [88]:
IULA['P(x|w)'] = COCA['P(x|w)']
IULA['109 P(x|w)P(w)'] = 1e9 * IULA['P(w)'] * IULA['P(x|w)']